<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<% unless @users.blank? %>

<h2>Compare it with</h2>

<ul>
  <% for user in @users %>
    <li> <%= link_to user, compare_ratings_path( :users => "#{@user.id},#{user.id}" )%>  </li>
  <% end  %>
</ul>


<% end %>






<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
