<h2> Users comparission </h2>

<p> Users: <%= @users.map { |u| link_to( u.to_s, u) }.join( ', ' )  %>  </p>

<p> Compatibility value: <%= @result  %>  </p>
<p>Percentage: <%= (@result * 100).to_i  %>&#37; </p>